body {
    color: #434148
}

h1 {
    font-size: 1.8em
}

h2 {
    font-size: 1.6em
}

h3 {
    font-size: 1.4em
}

h4 {
    font-size: 1.2em
}

p {
    font-size: 1em
}

.cf-callout {
    padding: 1.4em;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 2px
}

.cf-callout--default {
    background: #ebebeb;
    border-color: #ccc
}

.cf-callout__content,
.cf-callout__heading {
    margin: 0
}

.cf-card {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.cf-card__section+.cf-card__section {
    border-top: 1px solid rgba(0, 0, 0, .2)
}

.cf-card__content {
    padding: 1.4em
}

.cf-card__control {
    background: #eee;
    border: 0 solid rgba(0, 0, 0, .2);
    border-top-width: 1px;
    padding: 2em;
    vertical-align: top;
    text-align: center
}

.cf-card__title {
    margin-top: 0;
    font-size: 1.4em;
    list-style: 1;
    margin-bottom: -10px
}

.cf-card__footer_message {
    font-size: .8rem;
    color: #7c7c7c;
    line-height: 1.3;
    margin-top: 1.5em
}

.cf-card__drawers_container--open {
    border-top: 1px solid rgba(0, 0, 0, .2)
}

.cf-card__toolbar {
    padding: 1em;
    overflow: auto
}

.cf-card__toolbar_links {
    float: right
}

.cf-card__toolbar_link {
    margin-left: 1em
}

.cf-card__toolbar_link--open {
    font-weight: 700
}

.cf-card__drawer--active {
    padding: 1em
}

.cf-card__message {
    margin-top: .5em;
    padding: .5em 1em;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px
}

.cf-card__message--info {
    background: #00a9eb;
    color: #fff
}

.cf-card__message--error {
    background: #ff3100;
    color: #fff
}

@media (min-width:720px) {
    .cf-card__section {
        display: table;
        table-layout: fixed;
        width: 100%
    }
    .cf-card__content,
    .cf-card__control {
        display: table-cell
    }
    .cf-card__control {
        width: 40%;
        vertical-align: middle;
        border-top-width: 0;
        border-left-width: 1px
    }
}

@media (min-width:1200px) {
    .cf-card__control {
        width: 30%
    }
}

.cf-card .cf-table {
    border: none
}

.cf-checkbox__input,
.cf-radio__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-right: .4em;
    height: 1.5em;
    width: 1.5em;
    background: #fff;
    border: 3px solid #ccc
}

.cf-checkbox__input {
    border-radius: 3px
}

.cf-radio__input {
    border-radius: 9999px
}

.cf-checkbox--checked .cf-checkbox__input,
.cf-radio--checked .cf-radio__input {
    border-color: #00a9eb
}

.cf-checkbox--checked .cf-checkbox__input:after,
.cf-radio--checked .cf-radio__input:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 3px;
    right: 3px;
    background: #00a9eb
}

.cf-checkbox--checked .cf-checkbox__input:after {
    border-radius: 1px
}

.cf-radio--checked .cf-radio__input:after {
    border-radius: 9999px
}

.cf-code,
code {
    display: inline-block;
    font-family: monaco, Consolas, Lucida Console, monospace;
    font-size: .9em;
    background: #ddd;
    color: #434148;
    border-radius: 2px;
    padding: .05em .3em
}

.cf-code__block {
    border: 1px solid #bbb;
    background: #ddd;
    padding: .5em 1em;
    border-radius: 2px
}

.cf-code__block .cf-code {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    border-radius: 0
}

.cf-copyable-textarea__help-text {
    margin-top: 0;
    color: gray;
    font-size: .8em
}

.cf-dropdown {
    position: absolute;
    z-index: 1;
    padding: 0;
    margin: 0;
    width: 9999px;
    max-width: 220px;
    list-style: none;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .1), 0 2px 5px 2px rgba(0, 0, 0, .1)
}

.cf-dropdown:after {
    z-index: -1;
    width: 10px;
    height: 5px;
    background: red;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, .2)
}

.cf-dropdown:after,
.cf-dropdown:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%
}

.cf-dropdown:before {
    border: solid transparent;
    border-width: 0 10px 10px;
    border-bottom-color: #fff
}

.cf-dropdown--left:before {
    left: 10px
}

.cf-dropdown--left:after {
    left: 15px
}

.cf-dropdown--right:before {
    right: 10px
}

.cf-dropdown--right:after {
    right: 15px
}

.cf-dropdown__link {
    position: relative;
    z-index: 1;
    border-top: 1px solid #f6f6f6
}

.cf-dropdown__link:first-child {
    border-top-width: 0
}

.cf-dropdown__link:first-child a {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.cf-dropdown__link:last-child a {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 4px
}

.cf-dropdown__link a:focus,
.cf-dropdown__link a:hover {
    background: #f9f9f9
}

.cf-dropdown__link a {
    display: block;
    padding: .4em .8em;
    cursor: pointer
}

.cf-dropdown__separator {
    border-top: 2px solid #eee
}

.cf-dropdown__separator+.cf-dropdown__link {
    border-top-width: 0
}

.cf-dynamic-content {
    position: relative;
    overflow: hidden
}

@media (min-width:720px) {
    .cf-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    .cf-flex__item {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto
    }
    .cf-flex__item--collapse {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
    .cf-flex--thin .cf-flex__item+.cf-flex__item {
        margin-left: 5px
    }
    .cf-flex--wide .cf-flex__item+.cf-flex__item {
        margin-left: 20px
    }
}

.cf-form {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.cf-form__header {
    padding: 1em;
    border-bottom: 1px solid #ddd
}

.cf-form__footer {
    padding: 1em;
    text-align: right
}

.cf-form__title {
    margin: 0
}

.cf-form__fieldset {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid #ddd
}

.cf-form__fieldset_legend {
    padding: 1em
}

.cf-form__fieldset_content {
    padding: 1em;
    border: 0 solid #ddd;
    border-top-width: 1px;
    background: #eee
}

.cf-form__label {
    display: block;
    margin-bottom: .2em;
    color: #333
}

.cf-form__label--hidden {
    display: none
}

.cf-form__field-error {
    position: relative;
    margin-top: .1em;
    padding: .5em 1em;
    border: 1px solid #c32600;
    border-bottom-width: 2px;
    font-size: .8em;
    font-weight: 600;
    background: #ff3100;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1)
}

.cf-form__field-error:after,
.cf-form__field-error:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    border-style: solid;
    border-color: transparent
}

.cf-form__field-error:before {
    left: 4px;
    border-width: 6px;
    border-bottom-color: #c32600
}

.cf-form__field-error:after {
    left: 5px;
    border-width: 5px;
    border-bottom-color: #ff3100
}

.cf-form__field-error p {
    margin: 0
}

.cf-form__field-error p+p {
    margin-top: .5em
}

@media (min-width:720px) {
    .cf-form__fieldset_legend {
        float: left;
        width: 30%
    }
    .cf-form__fieldset_content {
        float: left;
        width: 70%;
        border-top-width: 0;
        border-left-width: 1px
    }
}

.cf-heading__caption {
    margin-left: .3em;
    color: #434148;
    font-size: .8em;
    font-color: #888;
    font-weight: lighter
}

h2.cf-heading.cf-heading--2 {
    margin-top: 10px
}

@font-face {
    font-family: icons;
    src: url(icons.eot);
    src: url(icons.eot) format("embedded-opentype"), url(icons.ttf) format("truetype"), url(icons.woff) format("woff"), url(icons.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

.cf-icon {
    display: inline;
    width: auto;
    height: auto;
    margin-top: 0;
    line-height: normal;
    vertical-align: baseline;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.cf-icon:before {
    display: inline-block;
    font-family: icons!important;
    text-decoration: inherit;
    speak: none
}

.cf-icon--border:before {
    border: 1px solid;
    padding: .2em .25em .15em;
    border-radius: 3px
}

.cf-icon--spin:before {
    display: inline-block;
    -webkit-animation: a 2s infinite linear;
    animation: a 2s infinite linear
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes a {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.cf-icon--muted:before {
    color: gray
}

.cf-icon--white:before {
    color: #fff
}

.cf-icon--2x:before {
    font-size: 2em
}

.cf-icon--2x.cf-icon--border:before {
    border-width: 2px
}

.cf-icon--3x:before {
    font-size: 3em
}

.cf-icon--3x.cf-icon--border:before {
    border-width: 3px
}

.cf-icon--4x:before {
    font-size: 4em
}

.cf-icon--4x.cf-icon--border:before {
    border-width: 4px
}

.cf-icon--large:before {
    vertical-align: -10%;
    font-size: 1.6em
}

.cf-icon--xlarge:before {
    font-size: 2.4em
}

.cf-icon__label {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden
}

.cf-icon--caret-up:before {
    content: "\e900"
}

.cf-icon--chevron-up:before {
    content: "\e901"
}

.cf-icon--caret-down:before {
    content: "\e902"
}

.cf-icon--chevron-down:before {
    content: "\e903"
}

.cf-icon--caret-left:before {
    content: "\e904"
}

.cf-icon--chevron-left:before {
    content: "\e905"
}

.cf-icon--caret-right:before {
    content: "\e906"
}

.cf-icon--chevron-right:before {
    content: "\e907"
}

.cf-icon--ok-sign:before {
    content: "\e908"
}

.cf-icon--exclamation-sign:before {
    content: "\e909"
}

.cf-icon--info-sign:before {
    content: "\e90a"
}

.cf-icon--pause:before {
    content: "\e90b"
}

.cf-icon--time:before {
    content: "\e90c"
}

.cf-icon--ok:before {
    content: "\e90d"
}

.cf-icon--clipboard:before {
    content: "\e90e"
}

.cf-icon--bolt:before {
    content: "\e90f"
}

.cf-icon--chart:before {
    content: "\e910"
}

.cf-icon--filter:before {
    content: "\e911"
}

.cf-icon--flowchart:before {
    content: "\e912"
}

.cf-icon--hamburger:before {
    content: "\e913"
}

.cf-icon--lock:before {
    content: "\e914"
}

.cf-icon--file:before {
    content: "\e915"
}

.cf-icon--shield:before {
    content: "\e916"
}

.cf-icon--plus:before {
    content: "\e917"
}

.cf-icon--search:before {
    content: "\e918"
}

.cf-icon--wrench:before {
    content: "\e919"
}

.cf-icon--remove:before {
    content: "\e91a"
}

.cf-icon--speech:before {
    content: "\e91b"
}

.cf-icon--gear:before {
    content: "\e91c"
}

.cf-icon--help:before {
    content: "\e91d"
}

.cf-icon--resize-horizontal:before,
.cf-icon--widen:before {
    content: "\e91e"
}

.cf-icon--calendar:before {
    content: "\e91f"
}

.cf-icon--facebook:before {
    content: "\e920"
}

.cf-icon--twitter:before {
    content: "\e921"
}

.cf-icon--googleplus:before {
    content: "\e922"
}

.cf-icon--linkedin:before {
    content: "\e923"
}

.cf-icon--upload:before {
    content: "\e924"
}

.cf-icon--drive:before {
    content: "\e926"
}

.cf-icon--happy:before {
    content: "\e927"
}

.cf-icon--sad:before {
    content: "\e928"
}

.cf-icon--list:before {
    content: "\e929"
}

.cf-icon--remove-sign:before {
    content: "\e92a"
}

.cf-input {
    width: 100%;
    padding: .3em 0;
    text-indent: .6em;
    font: inherit;
    -webkit-appearance: textfield;
    margin-right: .5em;
    border: 1px solid rgba(0, 0, 0, .2);
    background: #fff;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
}

.cf-input[type=search] {
    border-radius: 9999px;
    padding-right: .6em
}

.cf-label {
    display: inline-block;
    padding: .2em .5em;
    margin-right: .3em;
    margin-bottom: .2em;
    border-radius: 2px;
    font-weight: 700;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, .2)
}

.cf-label--default {
    background: #434148
}

.cf-label--info {
    background: #00a9eb
}

.cf-label--success {
    background: #68970f
}

.cf-label--warning {
    background: #fca520
}

.cf-label--error {
    background: #ff3100
}

.cf-layout__container {
    padding: 0 1.5em;
    max-width: 90%;
    margin: 0 auto
}

.cf-layout__row {
    overflow: hidden
}

.cf-layout__column {
    float: left
}

@media (max-width:720px) {
    .cf-layout__container {
        padding: 0;
        max-width: none
    }
    .cf-layout__column {
        width: 100%!important;
        float: none
    }
}

a.cf-link {
    color: #00a9eb;
    text-decoration: none
}

a.cf-link:hover {
    color: #0085be
}

a.cf-link--disabled {
    text-decoration: none;
    color: gray;
    cursor: default
}

.special-link {
    color: #fca520
}

.cf-list--unstyled {
    list-style: none;
    margin: 0;
    padding: 0
}

.cf-icon--loading {
    display: inline-block;
    line-height: normal;
    vertical-align: baseline;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-animation-name: b;
    animation-name: b;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform-origin: center;
    transform-origin: center
}

.cf-icon--loading:before {
    content: "\e925";
    font-family: icons!important;
    text-decoration: inherit;
    speak: none
}

@-webkit-keyframes b {
    20% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }
    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    60% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes b {
    20% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }
    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    60% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

.cf-modal__backdrop-scroller {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1040;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.cf-modal__backdrop-outer {
    position: relative;
    width: 100%;
    height: 100%;
    display: table
}

.cf-modal__backdrop {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    background: hsla(0, 0%, 100%, .95);
    will-change: opacity
}

.cf-modal,
.cf-modal__backdrop {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.cf-modal {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), 0 5px 20px rgba(0, 0, 0, .05);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform, opacity
}

.cf-modal:focus {
    outline: none
}

.cf-modal__header {
    position: relative;
    padding: 20px;
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    border-radius: 2px 2px 0 0
}

.cf-modal__title {
    margin: 0;
    line-height: 1;
    font-size: 2em;
    word-break: break-all;
    word-break: break-word
}

.cf-modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    line-height: 1;
    font-weight: 900;
    color: gray
}

.cf-modal__close:before {
    content: "\00D7"
}

.cf-modal__body {
    padding: 20px
}

.cf-modal__footer {
    padding: 15px 20px;
    background: #ebebeb;
    border-top: 1px solid #ddd;
    border-radius: 0 0 1px 1px
}

.cf-modal__actions {
    text-align: right
}

.cf-modal--wide {
    max-width: 800px
}

.cf-transition-modal-appear .cf-modal__backdrop,
.cf-transition-modal-enter .cf-modal__backdrop,
.cf-transition-modal-leave.cf-transition-modal-leave-active .cf-modal__backdrop {
    background: transparent
}

.cf-transition-modal-appear.cf-transition-modal-appear-active .cf-modal__backdrop,
.cf-transition-modal-enter.cf-transition-modal-enter-active .cf-modal__backdrop,
.cf-transition-modal-leave .cf-modal__backdrop {
    background: hsla(0, 0%, 100%, .95)
}

.cf-transition-modal-appear-active .cf-modal__backdrop,
.cf-transition-modal-enter-active .cf-modal__backdrop,
.cf-transition-modal-leave-active .cf-modal__backdrop {
    -webkit-transition: background .2s ease-in;
    transition: background .2s ease-in
}

.cf-transition-modal-appear .cf-modal,
.cf-transition-modal-enter .cf-modal {
    opacity: 0;
    -webkit-transform: translateY(-100px)
}

.cf-transition-modal-appear.cf-transition-modal-appear-active .cf-modal,
.cf-transition-modal-enter.cf-transition-modal-enter-active .cf-modal,
.cf-transition-modal-leave .cf-modal {
    opacity: 1;
    -webkit-transform: translate(0)
}

.cf-transition-modal-leave.cf-transition-modal-leave-active .cf-modal {
    opacity: 0;
    -webkit-transform: translateY(20px)
}

.cf-transition-modal-appear-active .cf-modal,
.cf-transition-modal-enter-active .cf-modal,
.cf-transition-modal-leave-active .cf-modal {
    -webkit-transition: opacity .2s ease, -webkit-transform .2s ease;
    transition: opacity .2s ease, -webkit-transform .2s ease;
    transition: opacity .2s ease, transform .2s ease;
    transition: opacity .2s ease, transform .2s ease, -webkit-transform .2s ease
}

.cf-notifications {
    margin-top: 1em;
    margin-bottom: 1em
}

.cf-notifications__item {
    position: relative;
    padding: 1em;
    background: #eee;
    color: rgba(0, 0, 0, .5);
    border-radius: 2px;
    -webkit-font-smoothing: antialiased
}

.cf-notifications__item+.cf-notifications__item {
    margin-top: .5em
}

.cf-notifications__item--persist:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .05)
}

.cf-notifications__global_container {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 25%;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.cf-notifications__global_container .cf-notifications {
    margin-top: 0;
    margin-bottom: 0
}

.cf-notifications__global_container .cf-notifications__item {
    border-radius: 0
}

.cf-notifications__global_container .cf-notifications__item+.cf-notifications__item {
    margin-top: 0
}

.cf-notifications__item--success {
    background: #68970f
}

.cf-notifications__item--error {
    background: #ff3100
}

.cf-notifications__item--info {
    background: #00a9eb
}

.cf-notifications__item--warning {
    background: #fca520
}

.cf-notifications__item_progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .1)
}

.cf-notifications__item_progress--active {
    width: 0;
    -webkit-transition: width 0ms linear;
    transition: width 0ms linear
}

.cf-notifications__item_message {
    position: relative;
    z-index: 1;
    color: #fff;
    font-weight: 700
}

.cf-notifications__item_close {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: .25em 1.2em;
    cursor: pointer
}

.cf-notifications__item_close:hover {
    background: rgba(0, 0, 0, .1)
}

.cf-notifications__item_close:before {
    content: "\00D7";
    font-size: 2em
}

.cf-page__title {
    margin-bottom: 0
}

.cf-page__subtitle {
    margin-top: 0;
    font-size: 1.6em;
    color: gray
}

.cf-pagination:after,
.cf-pagination__list:after {
    content: "";
    display: table;
    clear: both
}

.cf-pagination__list {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.cf-pagination__item {
    float: left;
    position: relative;
    background: #fff;
    color: #00a9eb;
    border: 1px solid rgba(0, 0, 0, .15);
    border-bottom-width: 2px
}

.cf-pagination__item:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.cf-pagination__item:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

.cf-pagination__item+.cf-pagination__item {
    margin-left: -1px
}

.cf-pagination__item--active {
    background: #00a9eb;
    border-color: #0c7fe9;
    color: #fff;
    z-index: 1
}

.cf-pagination__item--disabled {
    background: #eee;
    color: #666
}

.cf-pagination__link {
    position: relative;
    display: block;
    padding: .5em 1em;
    text-decoration: none;
    font-weight: 700;
    color: inherit
}

.cf-pagination__link:focus {
    z-index: 1
}

.cf-pagination__item--active .cf-pagination__link,
.cf-pagination__item--disabled .cf-pagination__link {
    cursor: default
}

.cf-progress {
    position: relative
}

.cf-progress__bar {
    width: 100%;
    height: 2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
}

.cf-progress__bar::-webkit-progress-bar {
    background-color: transparent
}

.cf-progress__bar::-webkit-progress-value {
    background-color: #00a9eb;
    color: #00a9eb;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
    border-bottom: 2px solid #0c7fe9;
    border-radius: 1px;
    box-shadow: 0 0 0 1px #0c7fe9
}

.cf-progress__bar::-moz-progress-bar {
    background-color: #00a9eb;
    color: #00a9eb;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
    border-bottom: 2px solid #0c7fe9;
    border-radius: 1px;
    box-shadow: 0 0 0 1px #0c7fe9
}

.cf-progress__bar:indeterminate {
    background-color: #fca520;
    color: #fca520
}

.cf-progress__items {
    list-style: none;
    margin: 0;
    padding: 0
}

.cf-progress__items:after {
    content: "";
    display: table;
    clear: both
}

.cf-progress__item {
    float: left;
    text-align: center
}

.cf-progress__item .cf-link {
    display: block;
    padding-top: .5em
}

.cf-progress__item .cf-link:hover {
    border-bottom: 0
}

.cf-progress__item--active {
    font-weight: 700
}

.cf-select label {
    display: block;
    font-size: .7em;
    color: #777;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: .5em
}

.Select {
    position: relative
}

.Select,
.Select div,
.Select input,
.Select span {
    box-sizing: border-box
}

.Select.is-disabled>.Select-control {
    background-color: #f9f9f9
}

.Select.is-disabled>.Select-control:hover {
    box-shadow: none
}

.Select.is-disabled .Select-arrow-zone {
    cursor: default;
    pointer-events: none;
    opacity: .35
}

.Select-control {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%
}

.Select-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, .06)
}

.Select-control .Select-input:focus {
    outline: none
}

.is-searchable.is-open>.Select-control {
    cursor: text
}

.is-open>.Select-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #fff;
    border-color: #b3b3b3 #ccc #d9d9d9
}

.is-open>.Select-control>.Select-arrow {
    border-color: transparent transparent #999;
    border-width: 0 5px 5px
}

.is-searchable.is-focused:not(.is-open)>.Select-control {
    cursor: text
}

.is-focused:not(.is-open)>.Select-control {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 3px rgba(0, 126, 255, .1)
}

.Select--single>.Select-control .Select-value,
.Select-placeholder {
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label,
.has-value.Select--single>.Select-control .Select-value .Select-value-label {
    color: #333
}

.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label,
.has-value.Select--single>.Select-control .Select-value a.Select-value-label {
    cursor: pointer;
    text-decoration: none
}

.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label:hover,
.has-value.Select--single>.Select-control .Select-value a.Select-value-label:focus,
.has-value.Select--single>.Select-control .Select-value a.Select-value-label:hover {
    color: #007eff;
    outline: none;
    text-decoration: underline
}

.Select-input {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle
}

.Select-input>input {
    width: 100%;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: 14px;
    padding: 8px 0 12px;
    -webkit-appearance: none
}

.is-focused .Select-input>input {
    cursor: text
}

.has-value.is-pseudo-focused .Select-input {
    opacity: 0
}

.Select-control:not(.is-searchable)>.Select-input {
    outline: none
}

.Select-loading-zone {
    cursor: pointer;
    display: table-cell;
    text-align: center
}

.Select-loading,
.Select-loading-zone {
    position: relative;
    vertical-align: middle;
    width: 16px
}

.Select-loading {
    -webkit-animation: d .4s infinite linear;
    animation: d .4s infinite linear;
    height: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-right-color: #333;
    display: inline-block
}

.Select-clear-zone {
    -webkit-animation: c .2s;
    animation: c .2s;
    color: #999;
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 17px
}

.Select-clear-zone:hover {
    color: #d0021b
}

.Select-clear {
    display: inline-block;
    font-size: 18px;
    line-height: 1
}

.Select--multi .Select-clear-zone {
    width: 17px
}

.Select-arrow-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    padding-right: 5px
}

.Select-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0
}

.is-open .Select-arrow,
.Select-arrow-zone:hover>.Select-arrow {
    border-top-color: #666
}

.Select--multi .Select-multi-value-wrapper {
    display: inline-block
}

.Select .Select-aria-only {
    display: inline-block;
    height: 1px;
    width: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden
}

@-webkit-keyframes c {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes c {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.Select-menu-outer {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    -webkit-overflow-scrolling: touch
}

.Select-menu {
    max-height: 198px;
    overflow-y: auto
}

.Select-option {
    box-sizing: border-box;
    background-color: #fff;
    color: #666;
    cursor: pointer;
    display: block;
    padding: 8px 10px
}

.Select-option:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

.Select-option.is-selected {
    background-color: #f5faff;
    background-color: rgba(0, 126, 255, .04);
    color: #333
}

.Select-option.is-focused {
    background-color: #ebf5ff;
    background-color: rgba(0, 126, 255, .08);
    color: #333
}

.Select-option.is-disabled {
    color: #ccc;
    cursor: default
}

.Select-noresults {
    box-sizing: border-box;
    color: #999;
    cursor: default;
    display: block;
    padding: 8px 10px
}

.Select--multi .Select-input {
    vertical-align: middle;
    margin-left: 10px;
    padding: 0
}

.Select--multi.has-value .Select-input {
    margin-left: 5px
}

.Select--multi .Select-value {
    background-color: #ebf5ff;
    background-color: rgba(0, 126, 255, .08);
    border-radius: 2px;
    border: 1px solid #c2e0ff;
    border: 1px solid rgba(0, 126, 255, .24);
    color: #007eff;
    display: inline-block;
    font-size: .9em;
    line-height: 1.4;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top
}

.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
    display: inline-block;
    vertical-align: middle
}

.Select--multi .Select-value-label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px
}

.Select--multi a.Select-value-label {
    color: #007eff;
    cursor: pointer;
    text-decoration: none
}

.Select--multi a.Select-value-label:hover {
    text-decoration: underline
}

.Select--multi .Select-value-icon {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #c2e0ff;
    border-right: 1px solid rgba(0, 126, 255, .24);
    padding: 1px 5px 3px
}

.Select--multi .Select-value-icon:focus,
.Select--multi .Select-value-icon:hover {
    background-color: #d8eafd;
    background-color: rgba(0, 113, 230, .08);
    color: #0071e6
}

.Select--multi .Select-value-icon:active {
    background-color: #c2e0ff;
    background-color: rgba(0, 126, 255, .24)
}

.Select--multi.is-disabled .Select-value {
    background-color: #fcfcfc;
    border: 1px solid #e3e3e3;
    color: #333
}

.Select--multi.is-disabled .Select-value-icon {
    cursor: not-allowed;
    border-right: 1px solid #e3e3e3
}

.Select--multi.is-disabled .Select-value-icon:active,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:hover {
    background-color: #fcfcfc
}

@keyframes d {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes d {
    to {
        -webkit-transform: rotate(1turn)
    }
}

.cf-tabs {
    border-radius: 3px
}

.cf-tabs__group {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    table-layout: fixed
}

.cf-tabs__item {
    display: table-cell;
    padding: 1em;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .2)
}

.cf-tabs__item:first-child {
    border-top-left-radius: 3px
}

.cf-tabs__item:last-child {
    border-top-right-radius: 3px
}

.cf-tabs__item+.cf-tabs__item {
    border-left: 0
}

.cf-tabs__item--active {
    background: #fff;
    border-bottom: 0
}

.cf-tabs__panel {
    background: #fff;
    padding: 2em;
    border: 1px solid rgba(0, 0, 0, .2);
    border-top: 0!important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

.cf-table {
    width: 100%;
    background: #fff;
    border-spacing: 0;
    border: 1px solid rgba(0, 0, 0, .2)
}

.cf-table--striped .cf-table__row:nth-child(odd) .cf-table__cell {
    background: #f3f3f3
}

.cf-table__head {
    background: #f9f9f9;
    text-align: left
}

.cf-table__cell {
    padding: .5em 1em
}

.cf-table__row {
    -webkit-transition: none;
    transition: none
}

.cf-table__row--default {
    -webkit-transition: background 1s ease;
    transition: background 1s ease
}

.cf-table__row--success {
    background: #bbd291
}

.cf-text--normal {
    font-size: 1em;
    font-weight: 400
}

.cf-text--small {
    font-size: .8em;
    line-height: 1.3
}

.cf-text--start {
    text-align: left
}

.cf-text--center {
    text-align: center
}

.cf-text--justify {
    text-align: justify
}

.cf-text--end {
    text-align: right
}

.cf-text--capitalize,
.cf-text--titlecase:first-word {
    text-transform: capitalize
}

.cf-text--lowercase {
    text-transform: lowercase
}

.cf-text--uppercase {
    text-transform: uppercase
}

.cf-text--info {
    color: #00a9eb
}

.cf-text--success {
    color: #68970f
}

.cf-text--warning {
    color: #fca520
}

.cf-text--error {
    color: #ff3100
}

.cf-text--muted {
    color: gray
}

.cf-textarea {
    width: 100%;
    resize: vertical;
    font: inherit;
    margin: 0;
    padding: .3em .6em;
    border: 1px solid rgba(0, 0, 0, .2);
    background: #fff;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
}

.cf-toggle {
    display: block;
    position: relative;
    height: 3em;
    width: 8em;
    background: gray;
    border-radius: 3px;
    border: 1px solid gray;
    cursor: pointer
}

.cf-toggle--active {
    border-color: #00a9eb
}

.cf-toggle:after,
.cf-toggle:before {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    line-height: 3em;
    text-align: center;
    color: #fff
}

.cf-toggle:before {
    content: "On";
    left: 0;
    background: #00a9eb
}

.cf-toggle:after {
    content: "Off";
    right: 0
}

.cf-toggle__checkbox,
.cf-toggle__label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.cf-toggle__handle {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background: #fff;
    border-radius: 2px;
    -webkit-transition: left .1s ease;
    transition: left .1s ease
}

.cf-toggle__handle:before {
    content: "\e904  \e906";
    font-family: icons;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ccc
}

.cf-toggle--active .cf-toggle__handle {
    left: 50%
}

.cf-toggle__checkbox:focus~.cf-toggle__handle {
    outline: 2px solid #00a9eb;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.cf-toggle--disabled {
    cursor: not-allowed;
    border-color: #888
}

.cf-toggle--disabled:after,
.cf-toggle--disabled:before {
    color: #ddd
}

.cf-toggle--disabled:before {
    background: #888
}

.cf-toggle--disabled .cf-toggle__handle {
    background: #ddd
}

.cf-toggle--disabled .cf-toggle__handle:before {
    color: #888
}

.tooltip-element,
.tooltip-element *,
.tooltip-element:after,
.tooltip-element:after,
.tooltip-element:before,
.tooltip-element:before {
    box-sizing: border-box
}

.tooltip-element {
    position: absolute;
    display: none
}

.tooltip-element.tooltip-open {
    display: block
}

.tooltip-element {
    max-width: 100%;
    max-height: 100%
}

.tooltip-element .tooltip-content {
    border-radius: 5px;
    position: relative;
    font-family: inherit;
    background: #000;
    color: #eee;
    padding: 1em;
    font-size: 1.1em;
    line-height: 1.5em
}

.tooltip-element .tooltip-content:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-center .tooltip-content {
    margin-bottom: 8px
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-center .tooltip-content:before {
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-top-color: #000
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-center .tooltip-content {
    margin-top: 8px
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-center .tooltip-content:before {
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    border-bottom-color: #000
}

.tooltip-element.tooltip-element-attached-right.tooltip-element-attached-middle .tooltip-content {
    margin-right: 8px
}

.tooltip-element.tooltip-element-attached-right.tooltip-element-attached-middle .tooltip-content:before {
    left: 100%;
    top: 50%;
    margin-top: -8px;
    border-left-color: #000
}

.tooltip-element.tooltip-element-attached-left.tooltip-element-attached-middle .tooltip-content {
    margin-left: 8px
}

.tooltip-element.tooltip-element-attached-left.tooltip-element-attached-middle .tooltip-content:before {
    right: 100%;
    top: 50%;
    margin-top: -8px;
    border-right-color: #000
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-bottom .tooltip-content {
    margin-top: 8px
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-bottom .tooltip-content:before {
    bottom: 100%;
    left: 8px;
    border-bottom-color: #000
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-bottom .tooltip-content {
    margin-top: 8px
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-bottom .tooltip-content:before {
    bottom: 100%;
    right: 8px;
    border-bottom-color: #000
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-top .tooltip-content {
    margin-bottom: 8px
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-top .tooltip-content:before {
    top: 100%;
    left: 8px;
    border-top-color: #000
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-top .tooltip-content {
    margin-bottom: 8px
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-top .tooltip-content:before {
    top: 100%;
    right: 8px;
    border-top-color: #000
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content {
    margin-right: 8px
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content:before {
    top: 8px;
    left: 100%;
    border-left-color: #000
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content {
    margin-left: 8px
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content:before {
    top: 8px;
    right: 100%;
    border-right-color: #000
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content {
    margin-right: 8px
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content:before {
    bottom: 8px;
    left: 100%;
    border-left-color: #000
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content {
    margin-left: 8px
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content:before {
    bottom: 8px;
    right: 100%;
    border-right-color: #000
}

.tooltip-element {
    pointer-events: none
}

.tooltip-element .tooltip-content {
    padding: .5em 1em
}
