/**
 * Button
 */

.cf-btn {
  font: inherit;
  border: none;
  border-radius: 3px;
  padding: 0.5em 1em;
  margin: 0 0.2em 0.2em 0;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white;
}

.cf-btn--default {
  background: gray;
}

.cf-btn--primary {
  color: white;
  background: dodgerblue;
}

.cf-btn--success {
  background: limegreen;
}

.cf-btn--warning {
  background: tomato;
}

.cf-btn--error {
  background: crimson;
}

.cf-btn__group {
  display: inline-block;
  position: relative;
}

.cf-btn__group .cf-btn {
  margin: 0;
}

.cf-btn__group .cf-btn ~ .cf-btn {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.cf-btn__group .cf-btn:not(:first-of-type) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.cf-btn__group .cf-btn:not(:last-of-type) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.cf-btn__group .cf-dropdown {
  margin-top: 0.5em;
}

.cf-btn__group .cf-dropdown--left {
  left: 0;
}

.cf-btn__group .cf-dropdown--right {
  right: 0;
}

/**
 * Card
 */

.cf-card {
  background: white;
  border: 1px solid #ddd;
}

.cf-card__section {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.cf-card__section + .cf-card__section {
  border-top: 1px solid #ddd;
}

.cf-card__content {
  padding: 1em;
  display: table-cell;
}

.cf-card__control {
  display: table-cell;
  width: 30%;
  background: #eee;
  border-left: 1px solid #ddd;
  padding: 2em;
}

.cf-card__drawers_container--open {
  border-top: 1px solid #ddd;
}

.cf-card__toolbar {
  padding: 1em;
  overflow: auto;
}

.cf-card__toolbar_links {
  float: right;
}

.cf-card__toolbar_link {
  margin-left: 1em;
}

.cf-card__toolbar_link--open {
  font-weight: bold;
}

.cf-card__drawer--active {
  padding: 1em;
}

/**
 * Callout
 */

.cf-callout {
  padding: 1em;
  border: 1px solid;
  border-radius: 2px;
}

.cf-callout--default {
  background: #f9f9f9;
  border-color: #ddd;
}

.cf-callout__heading,
.cf-callout__content {
  margin: 0;
}

/**
 * Code
 */

.cf-code {
  display: inline-block;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 0.9em;
  background: #ddd;
  border-radius: 2px;
  padding: 0.05em 0.3em;
}

.cf-code__block {
  border: 1px solid #bbb;
  background: #ddd;
  padding: 0.5em 1em;
  border-radius: 2px;
}

.cf-code__block .cf-code {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  border-radius: 0;
}

/**
 * Dropdown
 */

.cf-dropdown {
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0;
  width: 9999px;
  max-width: 220px;
  list-style: none;
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cf-dropdown::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  border: solid transparent;
  border-width: 0 10px 10px 10px;
  border-bottom-color: white;
}

.cf-dropdown--left::before {
  left: 10px;
}

.cf-dropdown--right::before {
  right: 10px;
}

.cf-dropdown__link {
  position: relative;
  z-index: 1;
  border-top: 1px solid #f6f6f6;
}

.cf-dropdown__link:first-child {
  border-top-width: 0;
}

.cf-dropdown__link:first-child a {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.cf-dropdown__link:last-child a {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 4px;
}

.cf-dropdown__link a:hover,
.cf-dropdown__link a:focus {
  background: #f9f9f9;
}

.cf-dropdown__link a {
  display: block;
  padding: 0.4em 0.8em;
  cursor: pointer;
}

.cf-dropdown__separator {
  border-top: 2px solid #eee;
}

.cf-dropdown__separator + .cf-dropdown__link {
  border-top-width: 0;
}

/**
 * Dynamic Content
 */

.cf-dynamic-content {
  position: relative;
  overflow: hidden;
}

/**
 * Flex
 */

.cf-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.cf-flex__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
      -ms-flex: 1 0;
          flex: 1 0;
}

.cf-flex__item--collapse {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0;
      -ms-flex: 0 0;
          flex: 0 0;
}

/**
 * Heading
 */

.cf-heading__caption {
  margin-left: 0.3em;
  color: #666;
}

/**
 * Input
 */

.cf-input {
  padding: 0.3em 0;
  text-indent: 0.6em;
  font: inherit;
  -webkit-appearance: textfield;
  margin-right: 0.5em;
  border: 1px solid #ccc;
  background: white;
  border-radius: 2px;
}

/**
 * Label
 */

.cf-label {
  padding: 0.2em 0.4em;
  margin-right: 0.2em;
  border-radius: 2px;
}

.cf-label--default {
  background: white;
}

.cf-label--info {
  background: dodgerblue;
}

.cf-label--success {
  background: limegreen;
}

.cf-label--warning {
  background: tomato;
}

.cf-label--error {
  background: crimson;
}

/**
 * Layout
 */

.cf-layout__container {
  padding: 0 1.5em;
  max-width: 80%;
  margin: 0 auto;
}

.cf-layout__row {
  overflow: hidden;
}

.cf-layout__column {
  float: left;
}

@media (max-width: 720px) {
  .cf-layout__column {
    width: 100% !important;
    float: none;
  }
}

#cf-component-layout--basic {
  text-align: center;
}

#cf-component-layout--basic .cf-layout__container:hover,
#cf-component-layout--basic .cf-layout__row:hover,
#cf-component-layout--basic .cf-layout__column:hover {
  background: rgba(0, 0, 0, 0.1);
}

/**
 * Link
 */

.cf-link {
  color: dodgerblue;
  text-decoration: none;
}

.cf-link--disabled {
  text-decoration: none;
  color: gray;
  cursor: default;
}

.special-link {
  color: tomato;
}

/**
 * List
 */

.cf-list--unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Modal
 */

.cf-modal__backdrop-scroller {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1040;

  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.cf-modal__backdrop-outer {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
}

.cf-modal__backdrop {
  display: table-cell;
  vertical-align: middle;

  padding: 20px;
  background: rgba(0, 0, 0, 0.8);

  -webkit-transform-origin: center;
  transform-origin: center;
}

.cf-modal {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  background: white;

  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cf-modal:focus {
  outline: none;
}

.cf-modal__header {
  position: relative;
  padding: 20px;
  background: #f9f9f9;
}

.cf-modal__title {
  word-break: break-all;
  word-break: break-word;
}

.cf-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
  line-height: 1;
  font-weight: 900;
  color: gray;
}

.cf-modal__close::before {
  content: "\00D7";
}

.cf-modal__body {
  padding: 20px;
}

.cf-modal__footer {
  padding: 20px;
  background: #ebebeb;
}

.cf-modal__actions {
  text-align: right;
}

/**
 * Modal Animations
 */

.cf-transition-modal-appear .cf-modal__backdrop,
.cf-transition-modal-enter .cf-modal__backdrop,
.cf-transition-modal-leave.cf-transition-modal-leave-active .cf-modal__backdrop {
  background: transparent;
}

.cf-transition-modal-appear.cf-transition-modal-appear-active .cf-modal__backdrop,
.cf-transition-modal-enter.cf-transition-modal-enter-active .cf-modal__backdrop,
.cf-transition-modal-leave .cf-modal__backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.cf-transition-modal-appear-active .cf-modal__backdrop,
.cf-transition-modal-enter-active .cf-modal__backdrop,
.cf-transition-modal-leave-active .cf-modal__backdrop {
  -webkit-transition: background 200ms ease-in;
  transition: background 200ms ease-in;
}

.cf-transition-modal-appear .cf-modal,
.cf-transition-modal-enter .cf-modal,
.cf-transition-modal-leave.cf-transition-modal-leave-active .cf-modal {
  opacity: 0;
  -webkit-transform: matrix3d(
    1, 0, 0, 0,
    0, 1, 0, -0.0002,
    0, 0, 1, 0,
    0, -10, 0, 1.1
  );
  transform: matrix3d(
    1, 0, 0, 0,
    0, 1, 0, -0.0002,
    0, 0, 1, 0,
    0, -10, 0, 1.1
  );
}

.cf-transition-modal-appear.cf-transition-modal-appear-active .cf-modal,
.cf-transition-modal-enter.cf-transition-modal-enter-active .cf-modal,
.cf-transition-modal-leave .cf-modal {
  opacity: 1;
  -webkit-transform: matrix3d(
    1, 0, 0, 0,
    0, 1, 0, 0,
    0, 0, 1, 0,
    0, 0, 0, 1
  );
  transform: matrix3d(
    1, 0, 0, 0,
    0, 1, 0, 0,
    0, 0, 1, 0,
    0, 0, 0, 1
  );
}

.cf-transition-modal-appear-active .cf-modal,
.cf-transition-modal-enter-active .cf-modal,
.cf-transition-modal-leave-active .cf-modal {
  transition: opacity 200ms ease, transform 200ms ease;
}

/**
 * Notifications
 */

.cf-notifications {
  margin-top: 1em;
  margin-bottom: 1em;
}

.cf-notifications__item {
  position: relative;
  padding: 1em;
  background: #eee;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
}

.cf-notifications__item + .cf-notifications__item {
  margin-top: 0.5em;
}

.cf-notifications__item--persist::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.05);
}

.cf-notifications__global_container {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 25%;
  overflow: auto;
}

.cf-notifications__global_container .cf-notifications {
  margin-top: 0;
  margin-bottom: 0;
}

.cf-notifications__global_container .cf-notifications__item {
  border-radius: 0;
}

.cf-notifications__global_container .cf-notifications__item + .cf-notifications__item {
  margin-top: 0;
}

.cf-notifications__item--success {
  background: limegreen;
}

.cf-notifications__item--error {
  background: crimson;
}

.cf-notifications__item--info {
  background: dodgerblue;
}

.cf-notifications__item--warning {
  background: tomato;
}

.cf-notifications__item_progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.cf-notifications__item_progress--active {
  width: 0;
  transition: width 0ms linear;
}

.cf-notifications__item_message {
  position: relative;
  z-index: 1;
}

.cf-notifications__item_close {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  padding: 0.25em 1.2em;
  cursor: pointer;
}

.cf-notifications__item_close:hover {
  background: rgba(0, 0, 0, 0.1);
}

.cf-notifications__item_close::before {
  content: '\00D7';
  font-size: 2em;
}

/**
 * Progress
 */

.cf-progress {
  position: relative;
}

.cf-progress__bar {
  width: 100%;
  height: 1em;
  -webkit-appearance: none;
  appearance: none;
  background: white;
}

.cf-progress__bar::-webkit-progress-bar {
  background-color: white;
  color: dodgerblue;
}

.cf-progress__bar::-webkit-progress-value {
  background-color: dodgerblue;
  color: dodgerblue;
  transition: width 0.5s ease;
}

/* Mozilla uses progress-bar as the value */
.cf-progress__bar::-moz-progress-bar {
  background-color: dodgerblue;
  color: dodgerblue;
}

.cf-progress__bar:indeterminate{
  background-color: tomato;
  color: tomato;
}

.cf-progress__items {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.cf-progress__item {
  float: left;
  text-align: center;
}

.cf-progress__item .cf-link {
  display: block;
}

.cf-progress__item--active {
  font-weight: bold;
}

/**
 * Select
 */

.cf-select {
  margin: 1em 0;
}

.cf-select label {
  display: block;
  font-size: 0.7em;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
}

/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
*/
.Select {
  position: relative;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select.is-disabled > .Select-control {
  background-color: #f6f6f6;
}
.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
}
.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #08c #0099e6 #0099e6;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px rgba(0, 136, 204, 0.5);
}
.Select-placeholder {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value > .Select-control > .Select-placeholder {
  color: #333;
}
.Select-value {
  color: #aaa;
  left: 0;
  padding: 8px 52px 8px 10px;
  position: absolute;
  right: -15px;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value > .Select-control > .Select-value {
  color: #333;
}
.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.Select-input > input {
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  height: 34px;
  margin: 0;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px;
}
.Select-clear-zone:hover {
  color: #D0021B;
}
.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.Select--multi .Select-clear-zone {
  width: 17px;
}
.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}
.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-focused {
  background-color: #f2f9fc;
  color: #333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: not-allowed;
}
.Select-noresults,
.Select-search-prompt,
.Select-searching {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}
.Select--multi.has-value .Select-input {
  margin-left: 5px;
}
.Select-item {
  background-color: #f2f9fc;
  border-radius: 2px;
  border: 1px solid #c9e6f2;
  color: #08c;
  display: inline-block;
  font-size: 0.9em;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}
.Select-item-icon,
.Select-item-label {
  display: inline-block;
  vertical-align: middle;
}
.Select-item-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.Select-item-label .Select-item-label__a {
  color: #08c;
  cursor: pointer;
}
.Select-item-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c9e6f2;
  padding: 1px 5px 3px;
}
.Select-item-icon:hover,
.Select-item-icon:focus {
  background-color: #ddeff7;
  color: #0077b3;
}
.Select-item-icon:active {
  background-color: #c9e6f2;
}
.Select--multi.is-disabled .Select-item {
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  color: #888;
}
.Select--multi.is-disabled .Select-item-icon {
  cursor: not-allowed;
  border-right: 1px solid #d9d9d9;
}
.Select--multi.is-disabled .Select-item-icon:hover,
.Select--multi.is-disabled .Select-item-icon:focus,
.Select--multi.is-disabled .Select-item-icon:active {
  background-color: #f2f2f2;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}

/**
 * Tabs
 */

.cf-tabs {
  border-radius: 5px;
}

.cf-tabs__group {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  table-layout: fixed;
}

.cf-tabs__item {
  display: table-cell;
  padding: 1em;
  cursor: pointer;
}

.cf-tabs__item--active {
  background: white;
}

.cf-tabs__panel {
  background: white;
  padding: 2em;
}

/**
 * Table
 */

.cf-table {
  width: 100%;
  background: white;
  border-spacing: 0;
  border: 1px solid #ddd;
}

.cf-table__head {
  background: #f9f9f9;
  text-align: left;
}

.cf-table__cell {
  padding: 0.5em 1em;
}


/**
 * Text
 */

/**
 * Text Size
 */

.cf-text--normal {
  font-size: 1em;
  font-weight: normal;
}

.cf-text--small {
  font-size: 0.8em;
  line-height: 1.3;
}

/**
 * Text Align
 */

.cf-text--start {
  text-align: left;
}

.cf-text--center {
  text-align: center;
}

.cf-text--justify {
  text-align: justify;
}

.cf-text--end {
  text-align: right;
}

/**
 * Text Case
 */

.cf-text--capitalize {
  text-transform: capitalize;
}

.cf-text--titlecase:first-word {
  text-transform: capitalize;
}

.cf-text--lowercase {
  text-transform: lowercase;
}

.cf-text--uppercase {
  text-transform: uppercase;
}

/**
 * Text Colors
 */

.cf-text--info {
  color: dodgerblue;
}

.cf-text--success {
  color: limegreen;
}

.cf-text--warning {
  color: tomato;
}

.cf-text--error {
  color: crimson;
}

.cf-text--muted {
  color: gray;
}

/**
 * Textarea
 */

.cf-textarea {
  width: 100%;
  resize: vertical;
  font: inherit;
  margin: 0;
  padding: 0.3em 0.6em;
  border: 1px solid #ccc;
  background: white;
  border-radius: 2px;
}

/**
 * Toggle
 */

.cf-toggle {
  display: block;
  position: relative;
  height: 3em;
  width: 8em;
  background: #ccc;
  border-radius: 2px;
  border: 1px solid #aaa;
  cursor: pointer;
}

.cf-toggle::before,
.cf-toggle::after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  line-height: 3em;
  text-align: center;
  color: white;
}

.cf-toggle::before {
  content: "On";
  left: 0;
  background: #76E476;
}

.cf-toggle::after {
  content: "Off";
  right: 0;
}

.cf-toggle__checkbox,
.cf-toggle__label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.cf-toggle__handle {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  background: white;
  border-radius: 1px;
  transition: left 100ms ease;
}

.cf-toggle__handle::before {
  content: "❮ ❯";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ccc;
}

.cf-toggle--active .cf-toggle__handle {
  left: 50%;
}

.cf-toggle__checkbox:focus ~ .cf-toggle__handle {
  outline: 2px solid #36c;
  outline-offset: -1px;
}

/**
 * Tooltip
 */

.tooltip-element,
.tooltip-element:after,
.tooltip-element:before,
.tooltip-element *,
.tooltip-element *:after,
.tooltip-element *:before {
  box-sizing: border-box;
}

.tooltip-element {
  position: absolute;
  display: none;
}

.tooltip-element.tooltip-open {
  display: block;
}

.tooltip-element {
  max-width: 100%;
  max-height: 100%;
}

.tooltip-element .tooltip-content {
  border-radius: 5px;
  position: relative;
  font-family: inherit;
  background: #000;
  color: #eee;
  padding: 1em;
  font-size: 1.1em;
  line-height: 1.5em;
}

.tooltip-element .tooltip-content:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: 8px;
  border-style: solid;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-center .tooltip-content {
  margin-bottom: 8px;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-center .tooltip-content:before {
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-top-color: #000;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-center .tooltip-content {
  margin-top: 8px;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-center .tooltip-content:before {
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  border-bottom-color: #000;
}

.tooltip-element.tooltip-element-attached-right.tooltip-element-attached-middle .tooltip-content {
  margin-right: 8px;
}

.tooltip-element.tooltip-element-attached-right.tooltip-element-attached-middle .tooltip-content:before {
  left: 100%;
  top: 50%;
  margin-top: -8px;
  border-left-color: #000;
}

.tooltip-element.tooltip-element-attached-left.tooltip-element-attached-middle .tooltip-content {
  margin-left: 8px;
}

.tooltip-element.tooltip-element-attached-left.tooltip-element-attached-middle .tooltip-content:before {
  right: 100%;
  top: 50%;
  margin-top: -8px;
  border-right-color: #000;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-bottom .tooltip-content {
  margin-top: 8px;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-bottom .tooltip-content:before {
  bottom: 100%;
  left: 8px;
  border-bottom-color: #000;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-bottom .tooltip-content {
  margin-top: 8px;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-bottom .tooltip-content:before {
  bottom: 100%;
  right: 8px;
  border-bottom-color: #000;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-top .tooltip-content {
  margin-bottom: 8px;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-top .tooltip-content:before {
  top: 100%;
  left: 8px;
  border-top-color: #000;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-top .tooltip-content {
  margin-bottom: 8px;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-top .tooltip-content:before {
  top: 100%;
  right: 8px;
  border-top-color: #000;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content {
  margin-right: 8px;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content:before {
  top: 8px;
  left: 100%;
  border-left-color: #000;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content {
  margin-left: 8px;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content:before {
  top: 8px;
  right: 100%;
  border-right-color: #000;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content {
  margin-right: 8px;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content:before {
  bottom: 8px;
  left: 100%;
  border-left-color: #000;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content {
  margin-left: 8px;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content:before {
  bottom: 8px;
  right: 100%;
  border-right-color: #000;
}

.tooltip-element {
  pointer-events: none;
}

.tooltip-element .tooltip-content {
  padding: 0.5em 1em;
}

/**
 * Viewport
 */

.cf-viewport--is,
.cf-viewport--not {
  padding: 1em;
  margin: 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: monaco, Consolas, "Lucida Console", monospace;
}

.cf-viewport--is {
  background: limegreen;
}

.cf-viewport--not {
  background: crimson;
}
