{
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "alias": {
        "cf-builder-card": "./packages/cf-builder-card/src/index.js",
        "cf-builder-pagination": "./packages/cf-builder-pagination/src/index.js",
        "cf-builder-table": "./packages/cf-builder-table/src/index.js",
        "cf-component-button": "./packages/cf-component-button/src/index.js",
        "cf-component-callout": "./packages/cf-component-callout/src/index.js",
        "cf-component-card": "./packages/cf-component-card/src/index.js",
        "cf-component-checkbox": "./packages/cf-component-checkbox/src/index.js",
        "cf-component-code": "./packages/cf-component-code/src/index.js",
        "cf-component-copyable-textarea": "./packages/cf-component-copyable-textarea/src/index.js",
        "cf-component-dropdown": "./packages/cf-component-dropdown/src/index.js",
        "cf-component-dynamic-content": "./packages/cf-component-dynamic-content/src/index.js",
        "cf-component-flex": "./packages/cf-component-flex/src/index.js",
        "cf-component-form": "./packages/cf-component-form/src/index.js",
        "cf-component-heading": "./packages/cf-component-heading/src/index.js",
        "cf-component-icon": "./packages/cf-component-icon/src/index.js",
        "cf-component-input": "./packages/cf-component-input/src/index.js",
        "cf-component-label": "./packages/cf-component-label/src/index.js",
        "cf-component-layout": "./packages/cf-component-layout/src/index.js",
        "cf-component-link": "./packages/cf-component-link/src/index.js",
        "cf-component-list": "./packages/cf-component-list/src/index.js",
        "cf-component-loading": "./packages/cf-component-loading/src/index.js",
        "cf-component-modal": "./packages/cf-component-modal/src/index.js",
        "cf-component-notifications": "./packages/cf-component-notifications/src/index.js",
        "cf-component-page": "./packages/cf-component-page/src/index.js",
        "cf-component-pagination": "./packages/cf-component-pagination/src/index.js",
        "cf-component-progress": "./packages/cf-component-progress/src/index.js",
        "cf-component-radio": "./packages/cf-component-radio/src/index.js",
        "cf-component-select": "./packages/cf-component-select/src/index.js",
        "cf-component-table": "./packages/cf-component-table/src/index.js",
        "cf-component-tabs": "./packages/cf-component-tabs/src/index.js",
        "cf-component-text": "./packages/cf-component-text/src/index.js",
        "cf-component-textarea": "./packages/cf-component-textarea/src/index.js",
        "cf-component-toggle": "./packages/cf-component-toggle/src/index.js",
        "cf-component-tooltip": "./packages/cf-component-tooltip/src/index.js",
        "cf-component-typography": "./packages/cf-component-typography/src/index.js",
        "cf-component-viewport": "./packages/cf-component-viewport/src/index.js",
        "cf-pony": "./packages/cf-pony/src/index.js",
        "cf-style-const": "./packages/cf-style-const/src/index.js",
        "cf-style-container": "./packages/cf-style-container/src/index.js",
        "cf-test-focus": "./packages/cf-test-focus/src/index.js",
        "cf-test-server": "./packages/cf-test-server/src/index.js",
        "cf-test-store": "./packages/cf-test-store/src/index.js",
        "cf-test-stub": "./packages/cf-test-stub/src/index.js",
        "cf-test-www-api": "./packages/cf-test-www-api/src/index.js",
        "cf-util-adwords": "./packages/cf-util-adwords/src/index.js",
        "cf-util-async": "./packages/cf-util-async/src/index.js",
        "cf-util-cache": "./packages/cf-util-cache/src/index.js",
        "cf-util-http": "./packages/cf-util-http/src/index.js",
        "cf-util-http-file": "./packages/cf-util-http-file/src/index.js",
        "cf-util-http-poll": "./packages/cf-util-http-poll/src/index.js",
        "cf-util-logger": "./packages/cf-util-logger/src/index.js",
        "cf-util-markdown": "./packages/cf-util-markdown/src/index.js",
        "cf-util-route-handler": "./packages/cf-util-route-handler/src/index.js",
        "cf-util-text": "./packages/cf-util-text/src/index.js"
      }
    }]
  ],
  "env": {
    "commonjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    }
  }
}
