language: node_js
node_js:
  - "node"
  - "6"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
before_script:
  - npm run bootstrap
script:
  - npm run lint
  - npm test
  - npm run build:styleguide
  - npm run build
