# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# See https://github.com/blog/2392-introducing-code-owners for more info

# These owners will be the default owners for everything in the repo.
*        @tajo @sejoker @hturan @jculvey @marksteyn @manatarms
